<div >
    <div>
        <label for="nameLabel">Name:</label>
        <input [(ngModel)]="contact.name" type="text">
    </div>
    <div>
        <label for="surnameLabel">Surname:</label>
        <input [(ngModel)]="contact.surname" type="text">
    </div>
    <div>
        <label for="telLabel">Tel:</label>
        <input [(ngModel)]="contact.tel" type="number">
    </div>
    <div>
        <label for="birthLabel">Birth:</label>
        <input [(ngModel)]="contact.birth" type="text">
    </div>
    <br>

</div>
