/dist
node_modules/
typings/
*.map
.idea/
src/**/*.js
*.ini
*.css

# Logs
logs
*.log

# Webpack
src/config.ts
src/config-dev.ts
src/config-local-home.ts
src/config-local.ts
src/config-prod.ts
!/src/assets/icons/yack/style.css
